/* padding: 7px 10px; => padding-top: 7px, padding-right: 10px;, padding-bottom: 7px;, padding-left: 10px; */

.drag {
  z-index: 1001;
}

#grandmaDiv {
  width: 180px;
  height: 100px;
  z-index: 1000;
}

#grandma {
  width: 100%;
  z-index: 1000;
  cursor: grab;
}

#godMole {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
  border: dotted 1.5px #FFFFFF;
  z-index: 1001;
  cursor: help;
  animation-name: godMole;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes godMole {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#grandmaComment {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  width: 400px;
  height: 100px;
  padding: 10px;
  text-align: center;
  color: #555;
  font-size: 16px;
  background: #fff;
  border: 1.4px solid #000000;
  border-radius: 4px;
  z-index: 1001;

  display: flex; /* 子要素をflexboxで揃える */
  flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center; /* 子要素をflexboxにより中央に配置する */
  align-items: center;  /* 子要素をflexboxにより中央に配置する */
}

#grandmaComment:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 75%;
  left: 100%;
  margin-top: -15px;
  border-top: solid 1.4px #000000;
  border-left: solid 1.4px #000000;
  transform: translate(-45%) rotate(135deg);
  background-color: #fff;
}
